.App {
  display: flex;
  flex-direction: column;
  border:2px solid black;
  margin-top: 7rem;
  height:fit-content;
  width:fit-content;
  align-content: center;
  background-color: rgb(166, 174, 53);
  border-radius:10px;
}

body{
  display: flex;
  margin:0;
  background:linear-gradient(to right ,#00AAFF,#00FF6C);
  justify-content: center;
  /* align-items: center; */
}