.inputContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.inputBox1,.inputBox2{
    display: flex;
    height: 30px;
    border:none;
    outline: none;
    text-align: right;
    /* word-break: break-all; */
    resize: none;

}
.inputBox1{
    border-radius:10px 10px 0px 0px;
    font-size: 1rem;
    border-top:2px solid black ;
    border-left:2px solid black ;
    border-right:2px solid black ;

}
.inputBox2{
    border-radius:0px 0px 10px 10px;
    border-bottom:2px solid black ;
    border-left:2px solid black ;
    border-right:2px solid black ;
    font-size: 1.5rem;
}